

*::-webkit-scrollbar {
  display:none;
}

* {
user-select:none
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:		#282a36;
  color: #fff;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div {
  margin: auto;
  width: 90%;
  position: relative;
}

.logo-cont {
  width: 50px;
  height: 50px;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-cont > h1 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 0 10px;
}
.logo-cont > img { 
  object-fit: cover;
  width: 100%;
}

.categories-nav {
  width: 100%;
}
/* .categories-nav > ul {
  display: flex;
  flex-direction: column;
  list-style:none;
  position: relative;
  padding:0;

}
.categories-nav > ul > li {
  text-align: justify;
  margin: 5px 0;
  cursor: pointer;
  transition: all .1s;
  user-select: none;
  width:fit-content;
  padding:7px;
  font-size: .85rem;
}
.categories-nav > ul > li:hover {
  background-color: #44475a;

} */

.gif-grid {
  width:100%;
  margin: auto;
  
}
.gif-grid-title {
  font-size: 1.3rem;
  color:mintcream ;
  background-color: #44475a;
  font-family:'Courier New', Courier, sans-serif,monospace;
  width:fit-content;
  padding:10px;
  box-shadow: 5px 5px 0 0 ;
}
.ul-gif-grid {
  list-style: none;
  width:fit-content;
  height: fit-content;
  padding:0;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap:auto;
  margin: auto;
  width:100%;

}
.ul-gif-grid > li {
  display: grid;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  font-size: .8rem;
  padding: 15px;
  border-radius: 5px;
  color: #fff9; 
  background-color: #0003;
  outline:1px solid #fff1 ;
  overflow: hidden;
  margin: 30px 0;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.ul-gif-grid > li > p {
  position: relative;
}
.ul-gif-grid > li > .image-cont {
  max-width:250px;
  max-height: 250px;
  position: relative;
  overflow:hidden;
  
}
.ul-gif-grid > li > .image-cont > img{
  width: 100%;
  object-fit: cover;
}

.ul-gif-grid > li::after{
  position: absolute;
  content: '';
  display:grid;
  min-width:100%;
  min-height:100%;
  place-items: center;
  margin: 0 auto;
  background-color: #0009;
  transition: all .2s;
  opacity: 0;
  transform: scale(0);
  transform: origin(center);
}

.ul-gif-grid > li:hover:after{
  content: 'Copy URL';
  opacity: 1;
  transform: scale(1);

}



@media screen and (max-width: 908px) {
  .ul-gif-grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  
  }
  
}
@media screen and (max-width: 768px) {

  .ul-gif-grid {
    display:flex;
    flex-direction:column;
  
  }
  .ul-gif-grid > li > .image-cont {
    max-width:100%;
    max-height: 100%;
    
  }
  .ul-gif-grid > li {
    display: grid;
    min-width: 200px;
    max-width: 200px;
    min-height: 300px;
    font-size: .8rem;
    padding: 15px;
    border-radius: 5px;
    color: #fff9; 
    background-color: #0003;
    outline:1px solid #fff1 ;
    overflow: hidden;
    margin: 30px 0;
    cursor: pointer;
    text-align: center;
    position: relative;
  }
  
}


.form-cont{ 
  width: fit-content;
  position: relative; 
  top:10px; 
  margin: 50px 0;
}

@media screen and (max-width: 1000px){
  .form-cont{ 
    width: 75%;
    margin:60px auto;
  }
  .logo-cont {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    position: relative;
    left: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
  
  }

}

.btn-add-cat{ 
  border: none;
  padding:8px 10px;
  margin: 10px 10px;
  cursor: pointer;
  background-color: #6272a4;
  color: #fff;
  font-weight: bolder;

}
@media screen and (max-width: 1000px) {
  .btn-add-cat{ 
    padding:4px 5px;
    margin: 10px 5px;
    background-color: #6272a4;
    font-weight: lighter;
  
  }

}
input {
  background-color:transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: none;
  padding: 4px;
  font-weight: lighter;
  font-size:.9rem ;
  width:50%;

}

form {
  position:relative;
  display: flex;
  width:fit-content;
  flex-direction: row;
  align-items: center;
}


.text-reflect {
  user-select: none;
  position :absolute;
  bottom: -30px;
  font-size: .8rem;
  color:#bd93f9;
}


